@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@theme {
  --default-font-family-sans: "Pretendard", "Inter", "Roboto", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased selection:bg-indigo-100 selection:text-indigo-900;
  letter-spacing: -0.01em;
}

* {
  font-family: "Pretendard", "Inter", sans-serif;
}
